<div class="row pt-3 justify-content-center">
	<div class="col-sm-6">
		<div class="card">
			<div class="card-header text-center">
				<h3>Create Coffee</h3>
				<h5 class="text-success" ng-bind="createStatus"></h5>
			</div>			
			<div class="card-body">
			<form name="createForm">
				<div class="form-group">
					<label for="coffeeName" class="font-weight-bold">Name:</label>
					<input ng-model="coffee.name" required ng-minlength="2" name="name"
						type="text" class="form-control" id="name">					
					<span ng-show="createForm.name.$touched && createForm.name.$invalid"
						class="text-danger">
						required and must be at least two characters.
					</span>					
				</div>
				<div class="form-group">
					<label for="origin" class="font-weight-bold">Origin:</label>
					<input ng-model="coffee.origin" required ng-minlength="2" name="origin"
						type="text" class="form-control" id="origin">					
					<span ng-show="createForm.origin.$touched && createForm.origin.$invalid"
						class="text-danger">
						required
					</span>	
				</div>
				<div class="form-group">
					<label for="process" class="font-weight-bold">Process:</label>
					<select ng-options="value for value in process" required name="process"
						ng-model="coffee.process" class="form-control" id="process">
					</select>
					<span ng-show="createForm.process.$touched && createForm.process.$invalid"
						class="text-danger">
						required
					</span>	
				</div>				
				<div class="form-group">
					<label for="elevation" class="font-weight-bold">Elevation:</label>
					<input ng-model="coffee.elevation" required ng-minlength="2" name="elevation"
						type="text" class="form-control" id="elevation">					
					<span ng-show="createForm.elevation.$touched && createForm.elevation.$invalid"
						class="text-danger">
						required and must be at least 2 characters
					</span>					
				</div>
				<div class="form-group">
					<label for="price" class="font-weight-bold">Price:</label>
					<input ng-model="coffee.price" required name="price"
						type="text" class="form-control" id="price">					
					<span ng-show="createForm.price.$touched && createForm.price.$invalid"
						class="text-danger">
						required
					</span>					
				</div>
				<div class="form-group">
					<label for="flavor" class="font-weight-bold">Flavor:</label>
					<select ng-options="value for value in flavor" required name="flavor"
						ng-model="coffee.flavor" class="form-control" id="flavor">
					</select>
					<span ng-show="createForm.flavor.$touched && createForm.flavor.$invalid"
						class="text-danger">
						required
					</span>	
				</div>					
			</form>
		</div>
		<div class="card-footer text-center">
			<button type="button" class="btn" style="background-color:#B4AAA1;color:#192D2B"
				ng-disabled="createForm.$invalid || disableCreate"
				ng-click="createCoffee()">Create</button>			
			<button type="button" class="btn btn-info"
				ng-click="clear()">Clear</button>
		</div>
		</div>
	</div>
</div>