<div class="row pt-4 pb-4">
	<div class="col-sm-4">
		<button type="button" ng-click="getQuiz()"
			class="btn" style="background-color:#B4AAA1;color:#192D2B">See Results</button>
		<button type="button" ng-click="clearQuiz()"
			class="btn btn-info">Clear</button>
	</div>
	<div class="col-sm-8">
		<h2 style="color:#706762;">Not sure what coffee to buy? Let's narrow it down!</h2>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<table class="table table-bordered table-active">
			<tr>
				<td>
					<label class="font-weight-bold">Flavor Profile:</label><br>
					<label><input type="checkbox" ng-model="quiz.flavor.bright"/> Bright</label>
					<label><input type="checkbox" ng-model="quiz.flavor.floral"/> Floral</label><br>
					<label><input type="checkbox" ng-model="quiz.flavor.fruity"/> Fruity</label>
					<label><input type="checkbox" ng-model="quiz.flavor.nutty" /> Nutty</label>
					<label><input type="checkbox" ng-model="quiz.flavor.sweet" /> Sweet</label>
				 </td>
			</tr>
			<tr>
				 <td ng-init="quiz.process = natural">
				 	<label class="font-weight-bold">Processing:</label><br>
				 	<label><input type="checkbox" ng-model="quiz.process.natural" value="natural" /> Natural</label>
				 	<br>
				 	<label><input type="checkbox" ng-model="quiz.process.washed" value="washed"/> Washed</label>
				 	<br>
				 	<label><input type="checkbox" ng-model="quiz.process.honey" value="honey" /> Honey</label>
				 </td>
			</tr>
			
		</table>
	</div>
	<div class="col-sm-8">
		<table class="table">
			<tr class='text-success'>
				<th>Product ID</th>
				<th>Coffee</th>
				<th>Processing</th>
			</tr>
			<tr ng-repeat="coffee in searchResults">
				<td>{{coffee.productId}}</td>
				<td>{{coffee.name}}</td>
				<td>{{coffee.process}}</td>
			</tr>
		</table>
	</div>
</div>
