@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');


.custom-Red {
	color: #6A140E;
}

.custom-Pine {
	color: #192D2B;
}

.custom-Cream {
	color: #EBD7BE;
}

.custom-Driftwood {
	color: #706762;
}

.custom-Linen {
	color: #B4AAA1;
}

body {
  background-image: url("../images/LinenTexture.jpg");
} 

.navbar {
  background-image: url("../images/GreenTopo.jpg")!important;
}

.jumbotron {
	background-image: url("../images/RedTopo.png");
	background-size: cover;
	font-weight: 1000;
}

#main {
	background-image: url("../images/GreyTopo.jpg");
	background-size: cover;
}

#stack {
	background-image: url("../images/WhiteBoxDoppio.jpg");
	background-size: cover;
}

#resume {
	background-image: url("../images/WhiteBoxDoppio.jpg");
	background-size: cover;
}

#shop {
	background-image: url("./images/CoffeeTastingWheel.png");
	background-size: cover;
}